//==========================================================
//      Color Variables
//==========================================================

// Descriptive Color Palatte Variables
$viking-green   : #58e1c1;
$malibu-blue    : #51ddfc;
$grey           : #797e83;
$white          : #fff;


$majesty-purple     : #927bc1;
$coral-orange       : #fd7856;
$lilac-purple       : #deb2ee;
$anakiwa-blue       : #7ee6fd;
$vista-green        : #88d9a0;
$fountain-blue      : #4da2bb;
$sea-pink           : #ec9fa3;
$tangerine-orange   : #fd9f85;
$sunglo-red         : #e4757a;
$emerald-green      : #63cc82;
$riptide-green      : #80e8d1;

$grid-colors: (
$majesty-purple,
$coral-orange,
$lilac-purple,
$anakiwa-blue,
$vista-green,
$fountain-blue,
$sea-pink,
$tangerine-orange,
$sunglo-red,
$emerald-green,
$malibu-blue,
$riptide-green
);

// Functional Color Palatte Variables

$color-primary      : $viking-green;
$color-secondary    : $malibu-blue;
$color-font--base   : $grey;
$color-font--btn    : $white;


$font-lh--base   : 1.45em;


//==========================================================
//      Media Query & Breakpoint Variables
//==========================================================

// Breakpoints

$break-desktop    : 768px;
$break-maxwidth    : 1400px;