/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    @extend %button;
  }

.default {
  background-color: $color-secondary;
}

.error {
  background-color: $sunglo-red;
}

.info {
  background-color: $majesty-purple;
}

.success {
  background-color: $emerald-green;
}

.warning {
  background-color: $tangerine-orange;
}